$light: #EDE7DF;
$dark: #1B211B;
$colorbg: #2B7099;
$fat: 3px solid $dark;
$skinny: 1px solid $dark;
$none: 0px solid $dark;

body { background-color: $light; margin: 10px; font-family: sans-serif; color: $light}
p { margin: 0px; font-size: 15px; }
h2 { border-top: $fat; margin-bottom: 10px; margin-top: 10px; padding-top: 10px; }
h6 { margin: 0px; }
a, a:visited, a:hover, a:active {  color: inherit; }

.header {
    h1 { font-weight: normal; margin: 0px; text-align: center; font-size: 80px; margin-bottom: 10px; }
    h3 { font-weight: normal; margin: 0px; margin-bottom: 10px; text-align: center; font-size: 18px; }
    p { margin: 0px; border-top: $fat; padding-top: 10px; margin-top: 10px; }
}

div {
    .resumeContainer { text-align: left; background-color: $colorbg; padding: 10px; margin: 0 auto; max-width: 800px; }
    .workEntry {
        display: grid; grid-template-columns: 20vw auto; grid-gap: 10px; break-inside: avoid; border-bottom: $none; margin-bottom: 13px;
        .jobtitle { font-weight: bold; }
        .dateLbl { overflow: hidden; }
        .companyLbl p { font-weight: bold; }
        .techLbl { font-weight: bold; }
    }
    .workEntry:last-child { border-bottom: $none; margin-bottom: 0px;}
    .page2Header {page-break-before: always; }
    .hobbies span { margin-right: 40px; }
}

@page {
    size: auto;
    margin: 10mm 10mm 10mm 10mm;
}
@media screen {
    .page2Header {
        display: none;
    }
}
@media print {
   body {color: black;  margin: 0px;}
   div.printOff { display: none; }
}

