$light: #ffffff;
$dark: #000000;
$colorbg: #ffffff;
$fat: 3px solid $dark;
$skinny: 1px solid $dark;
$none: 0px solid $dark;
$font-size: .87rem;

html, body {
  overflow-x: hidden;
  margin: 0 auto;
}

/* grid container */
.left-sidebar-grid {
    display:grid;
    grid-template-areas:
        'header'
        'contact-info'
        'main-content'
        'education'
        'skills';
    margin: 1rem;

    @media (min-width:768px) {
        max-width: calc(768px - 2rem);
        margin: 1rem auto;
    }

    /* assign columns to grid areas */
    > .header {
        grid-area: header;
        background: $light;
        color: $dark;
        h2 {
            font-size: 2rem;
            border-bottom: 0;
        }
    }
    > .contact-info {
        grid-area:contact-info;
        text-align: left;
        background:#c7c7c7;
        p {
            border-bottom: $fat;
        }
    }
    > .main-content {
        grid-area:main-content;
        background:#fff;
    }
    > .education {
        grid-area:education;
        text-align: left;
        background:#c7c7c7;
    }
    > .skills {
        grid-area:skills;
        text-align: left;
        background:#fff;
    }
}

.work-experience {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'company-jobtitle date-location'
        'entry entry';

    > .work-company-jobtitle {
        grid-area:company-jobtitle;
    }
    > .work-date-location {
        grid-area:date-location;
        text-align: right;
    }
    > .work-entries {
        grid-area:entry;
        ul {
            margin-top: 0rem;
            padding-left: 0rem;
            list-style-position: inside;
        }
    }
}

.skills {
    > .skill-entries {
        ul {
            margin-top: 0rem;
            padding-left: 0rem;
            list-style-position: inside;
        }
    }
}


body { font-family: sans-serif; }
p { margin: 0px; font-size: $font-size }
h3  { margin: 0px; font-size: 1rem; font-weight: normal; }
h2  { margin: 0px; font-size: 1.2rem; border-bottom: $fat }
ul { margin-bottom: $font-size }
li {  font-size: $font-size }
